<%= stylesheet_link_tag 'devise_views' %>
<div class="col-sm-6 col-md-4 col-md-offset-4">
  <div class="account-wall">
    <div class="tab-pane" id="user1">
       <%= image_tag "logo.png", class: 'devise-logo', alt: 'logo'%>
      <h3 class="text-center">Mot de passe oublié?</h3>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-signin'}) do |f| %>
        <div class= "form-group">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email', required: true %>
        </div>
          <%= f.submit "Réinitialiser le mot de passe" , class: "btn btn-lg btn-default btn-block" %>
        <% end %>  
      <p class="text-center"><a><%= render "devise/shared/links" %></a></p>
    </div>
  </div>
</div>